@charset "UTF-8";
// header{
//   .container{
//     .nohero{
//       ul{
//         li{
//           a{
//             color: $main-color;
//           }
//         }
//       }
//     }
//   }
// }
//

section {
  &.nohero {
    background-color: $bg-white;
  }
}
/*===========================================
	works設定
=============================================*/
.work {
  .container {
    .heading {
      margin-top: 50px !important;
    }

    .work-box-wrapper {
      .article-box {
        &.open {
          &:nth-child(n+7) {
            display: block !important;
          }
        }
      }
    }
  }
}
