@charset "UTF-8";
@import './config/config';
@import './common/common';
@import './contents/contents';
/*===========================================
	topページ設定
=============================================*/
.active {
  display: block;
}
/*===========================================
 top設定
=============================================*/
.top-main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../../dist/img/myphoto.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 100vh;
  min-height: 450px;
  color: $text-white;
  .container {
    box-sizing: border-box;
    .site-title {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 14vw;
      letter-spacing: 0.1em;
      margin-left: 0.2em;
      @media screen and (min-width: 768px) {
        font-size: 6vw;
      }
    }
    .site-title-sub {
      margin: 0 0 30px;
      letter-spacing: 1px;
      font-size: 1.3rem;
      &::after,
      &::before {
        content: "";
        display: block;
        width: 80%;
        height: 2px;
        margin: 10px auto;
        background-color: $bg-white;
        vertical-align: middle;
        @media screen and (min-width: 768px) {
          width: 140px;
          margin: 0 30px;
          display: inline-block;
        }
      }
    }
    .site-description {
      margin-bottom: 50px;
      color: #eee;
      font-size: 1.3rem;
    }
  }
}
/*===========================================
	about設定
=============================================*/
.about {
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-333;
  background-color: $bg-eee;
  opacity: 0.9;
  padding: 0 30px;
  .container {
    margin: 70px 0;
    .heading {
      position: relative;
      display: inline-block;
      margin: 0 0 15px;
      letter-spacing: 2px;
      font-size: 8vw;
      &::after,
      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: -10px;
        left: 0;
        border-bottom: 1px solid #999;
      }
      @media screen and (min-width: 768px) {
        font-size: 20px;
        font-size: 2rem;
      }
    }
    .about-text {
      font-size: 0.8rem;
      margin: 30px 0 0;
      line-height: 2.5;
      @media screen and (min-width: 768px) {
        font-size: 1.1rem;
      }
    }
  }
}
/*===========================================
	skill設定
=============================================*/
.skill {
  color: $text-333;
  .container {
    margin: 70px auto;
    text-align: center;
    .heading {
      position: relative;
      display: inline-block;
      letter-spacing: 2px;
      font-size: 8vw;
      &::after,
      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: -10px;
        left: 0;
        border-bottom: 1px solid #999;
      }
      @media screen and (min-width: 768px) {
        font-size: 2rem;
      }
    }
    .filters-wrapper {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      .filter-item {
        background-color: $bg-eee;
        color: $main-color;
        cursor: pointer;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        padding: 8px 16px;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        &.active {
          color: $text-white;
          background-color: $main-color;
        }
        &:hover {
          color: $text-white;
          background-color: $main-color;
        }
      }
    }
    .skill-box-wrapper {
      .content-wrapper {
        display: none;
      }
      .active {
        display: block;
      }
      .container {
        @media screen and (min-width: 768px) {
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          &:last-child {
            .skill-box {
              width: 33%;
            }
          }
        }
        .skill-box {
          padding-bottom: 50px;
          &:last-child {
            padding-bottom: 0;
          }
          div {
            flex: 1 1 300px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            // flex: 1;
            display: block;
            .photo {
              display: inline-block;
              background-color: $bg-eee;
              height: 100px;
              width: 100px;
              border-radius: 50%;
              background-repeat: no-repeat;
              background-position: center;
              background-size: 70%;
            }
            .text {
              display: block;
              font-size: 0.8rem;
              line-height: 1.6;
            }
          }
          @media screen and (min-width: 768px) {
            padding-bottom: 0;
            width: 33%;
          }
        }
      }
    }
  }
}
/*===========================================
	works設定
=============================================*/
.work {
  color: $text-333;
  background-color: $bg-eee;
  .container {
    text-align: center;
    .heading {
      position: relative;
      display: inline-block;
      margin: 70px 0 15px;
      letter-spacing: 2px;
      font-size: 8vw;
      &::after,
      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: -10px;
        left: 0;
        border-bottom: 1px solid #999;
      }
      @media screen and (min-width: 768px) {
        font-size: 2rem;
      }
    }
    .filters-wrapper {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      .filter-items {
        background-color: $bg-eee;
        color: $main-color;
        cursor: pointer;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        padding: 8px 16px;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        &.active {
          color: $text-white;
          background-color: $main-color;
        }
        &:hover {
          color: $text-white;
          background-color: $main-color;
        }
      }
    }
    .work-box-wrapper {
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1000px;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 60px;
      .article-box {
        flex: 1 1 300px;
        margin: 10px;
        a {
          flex: 1;
          display: block;
          border: 1px solid #ddd;
          color: inherit;
          text-decoration: none;
          &:hover {
            opacity: 0.8;
          }
          .photo {
            background-color: $bg-eee;
            // background-image: url(../../dist/img/p01.jpg);
            min-height: 150px;
            background-position: center;
            background-size: cover;
          }
          .text {
            background-color: $bg-white;
            padding: 16px 10px;
            line-height: 1.2;
            h2 {
              margin: 0;
              font-size: 16px;
              padding-bottom: 8px;
            }
            p {
              margin: 0;
              line-height: 1.4;
              font-size: 14px;
              opacity: 0.8;
            }
          }
        }
        &:nth-child(n+7) {
          display: none;
        }
        @media screen and (min-width: 768px) {
          width: 31%;
          flex: none;
        }
        &.coming {
          background-image: url("../../dist/img/p06.jpg");
          background-size: cover;
          div {
            background-color: rgba(0,0,0,0.7);
            p {
              margin: 0;
              font-size: 1.4rem;
              line-height: 230px;
              text-align: center;
              color: $text-white;
            }
          }
        }
      }
      @media screen and (min-width: 768px) {
        display: flex;
      }
    }
    .buttons {
      padding-bottom: 70px;
      // padding: 40px 0 70px 0;
    }
    // .next-page{
    //   text-align: center;
    //   padding: 40px 0 70px 0;
    //   a{
    //     font-size: 0.7rem;
    //     background-color: $main-color;
    //     display: inline-block;
    //     color: $text-white;
    //     text-decoration: none;
    //     padding: 12px 20px;
    //     border: 1px solid #ddd;
    //     border-radius: 5px;
    //     letter-spacing: 1.2px;
    //     &:hover{
    //     opacity: 0.8;
    //     }
    //   }
    // }
  }
}
/*===========================================
	contact設定
=============================================*/
.contact {
  background-color: $bg-contact;
  color: $text-white;
  .container {
    text-align: center;
    .heading {
      position: relative;
      display: inline-block;
      margin: 70px 0 15px;
      letter-spacing: 2px;
      font-size: 8vw;
      &::after,
      &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: -10px;
        left: 0;
        border-bottom: 1px solid #999;
      }
      @media screen and (min-width: 768px) {
        font-size: 2rem;
      }
    }
    .contact-form {
      padding-top: 30px;
      width: 50%;
      margin: 0 auto;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      input[type="text"] {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        padding: 15px;
        outline: none;
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 0;
        background-color: $bg-form;
        color: $text-white;
        &:focus {
          box-shadow: 0 0 8px rgba(255, 255, 255, 0.5)inset;
        }
      }
      textarea {
        @extend input[type="text"];
        height: 150px;
      }
      input[type="submit"] {
        font-size: 0.9rem;
        width: 200px;
        display: block;
        margin: 30px auto 0;
        padding: 16px;
        border: none;
        border-radius: 5px;
        background-color: $main-color;
        color: $text-white;
        cursor: pointer;
        &:hover {
          opacity: 0.9;
        }
      }
    }
    // .buttons{
    //   padding-top: 30px;
    // }
  }
}
